version: '2.4'

volumes:
    prometheus_data: {}
    grafana_data: {}
    influxdb_data: {}

services:

  prometheus:
    image: prom/prometheus:v2.1.0
    volumes:
      - ./configs/prometheus/:/etc/prometheus/
      # - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    ports:
      - "9090:9090"
    links:
      - cadvisor:cadvisor
      - alertmanager:alertmanager
    depends_on:
      - cadvisor
    restart: always

  node-exporter:
    image: prom/node-exporter
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - --collector.filesystem.ignored-mount-points
      - "^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)"
    ports:
      - "9100:9100"
    restart: always


  alertmanager:
    image: prom/alertmanager
    ports:
      - "9093:9093"
    volumes:
      - ./configs/alertmanager/:/etc/alertmanager/
    restart: always
    command:
      - '--config.file=/etc/alertmanager/config.yml'
      - '--storage.path=/alertmanager'

  cadvisor:
    image: google/cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    ports:
      - "8080:8080"
    restart: always

  grafana:
    image: grafana/grafana
    user: "104"
    depends_on:
      - prometheus
    ports:
      - "3000:3000"
    volumes:
      # - grafana_data:/var/lib/grafana
      - ./configs/grafana/provisioning/:/etc/grafana/provisioning/
    env_file:
      - ./configs/grafana/config.monitoring
    restart: always

  influxdb:
    image: influxdb:latest
    ports:
      - '8086:8086'
    volumes:
      # - influxdb_data:/var/lib/influxdb/data
      - ./configs/influxdb/influxdb.conf:/etc/influxdb/influxdb.conf
    environment:
      - INFLUXDB_DB=jmeter
      - INFLUXDB_ADMIN_USER=administrator
      - INFLUXDB_ADMIN_PASSWORD=2FederateM0re

  pingdirectory:
    image: pingidentity/pingdirectory:${PING_IDENTITY_DEVOPS_TAG}
    environment:
      - SERVER_PROFILE_URL=https://github.com/pingidentity/pingidentity-server-profiles.git
      - SERVER_PROFILE_PATH=baseline/pingdirectory
      - PING_IDENTITY_ACCEPT_EULA=YES
      - MAKELDIF_USERS=100
    env_file:
      - ${HOME}/.pingidentity/devops
    volumes:
      - ./configs/pingdirectory/pd.profile/dsconfig:/opt/in/pd.profile/dsconfig
    #   - ${HOME}/projects/devops/volumes/replicated-pair.pingdirectory:/opt/out
    #   - ${HOME}/projects/devops/pingidentity-server-profiles/baseline/pingdirectory:/opt/in
    ulimits:
      nproc:
        soft: 16384
        hard: 16384
      nofile:
        soft: 65535
        hard: 65535
    ports:
      - "1389:389"
      - "1636:636"
      - "1443:443"

  searchrate:
    image: pingidentity/apache-jmeter:latest
    command: wait-for pingdirectory:389 -t 900 -- entrypoint.sh start-server
    environment:
      - SERVER_PROFILE_URL=https://github.com/ping-devops-program/anydevops
      - SERVER_PROFILE_PATH=perf/profiles/jmeter
      - STARTUP_FOREGROUND_OPTS=--nongui -t /opt/out/instance/bin/ldap.jmx -JinfluxdbHost=influxdb -Jretention=autogen -JpdHost=pingdirectory -JpdPort=389 -JupperUid=99 -JsearchrateadminThreadCount=1 -JsearchrateadminDuration=10000 -JthreadCount=0 -Jduration=0

  authrate_ok:
    image: pingidentity/ldap-sdk-tools:edge
    command: wait-for pingdirectory:389 -t 900 -- authrate -h pingdirectory -p 389 -D cn=administrator -w 2FederateM0re -b dc=example,dc=com -f "(uid=user.[0-4])" -C 2FederateM0re -r 10


  authrate_ko:
    image: pingidentity/ldap-sdk-tools:edge
    command: wait-for pingdirectory:389 -t 900 -- authrate -h pingdirectory -p 389 -D cn=administrator -w 2FederateM0re -b dc=example,dc=com -f "(uid=user.[0-4])" -C badPassword -r 1


  modrate:
    image: pingidentity/ldap-sdk-tools:edge
    command: wait-for pingdirectory:389 -t 900 -- modrate -h pingdirectory -p 389 -D cn=administrator -w 2FederateM0re --entryDN "uid=user.[0-4],ou=people,dc=example,dc=com" --attribute description --valueLength 10 -C 2FederateM0re -r 1

  pingdirectory-statsd-exporter:
    image: prom/statsd-exporter:v0.14.1
    command: [ "--statsd.mapping-config=/tmp/mapping/pingdirectory-statsd-mapping.yml", "--statsd.listen-udp=:9125", "--web.listen-address=:9102"]
    volumes:
      - ./configs/statsd-exporter/pingdirectory-statsd-mapping.yml:/tmp/mapping/pingdirectory-statsd-mapping.yml
    ports:
      - "9102:9102"