version: "2.4"
# The server profiles used in this example are intended for use with edge versions of the product image only.

#----------------------------------------------------------------------------------------
#- Ping Identity fullstack integrated demo
#-
#-     app    console            app                                       rest
#-     2443   9000               6443                                      7443
#-      |      |                  |                                         |
#-   +----------------+   +---------------+                         +---------------+
#-   |   PingAccess   |   | PingDelegator |                         | PingAuthorize |
#-   +----------------+   +---------------+                         +---------------+
#-
#-     login  console            app                console           rest    ldaps
#-     9031   9999               9022                 8443            1443    1636
#-      |      |                  |                    |               |       |
#-   +---------------+    +---------------+    +---------------+    +---------------+
#-   | PingFederate  |    |  PingCentral  |    |PingDataConsole|    | PingDirectory |
#-   +---------------+    +---------------+    +---------------+    +---------------+
#-
#-   +-----------------------+----------------------------------------------------------+
#-   |  Product Console/App  |  URL                                                     |
#-   |                       |    username: administrator                               |
#-   |                       |    password: 2FederateM0re                               |
#-   +-----------------------+----------------------------------------------------------+
#-   |  PingAccess           |  https://localhost:9000/                                 |
#-   |  PingFederate         |  https://localhost:9999/pingfederate/app                 |
#-   |  PingDelegator        |  https://localhost:6443/                                 |
#-   |  PingDirectory        |  https://localhost:8443/ (Server=pingdirectory:1636)     |
#-   |  PingAuthorize        |  https://localhost:8443/ (Server=pingauthorize:1636)     |
#-   +-----------------------+----------------------------------------------------------+
#----------------------------------------------------------------------------------------

services:
  pingaccess:
    image: ${PING_IDENTITY_DEVOPS_REGISTRY}/pingaccess:${PING_IDENTITY_DEVOPS_TAG}
    command: wait-for pingfederate:9031 -t 420 -- entrypoint.sh start-server
    environment:
      - SERVER_PROFILE_URL=https://github.com/pingidentity/pingidentity-server-profiles.git
      - SERVER_PROFILE_PATH=baseline/pingaccess
    env_file:
      # Configuration file created when setup.sh (Getting-started project root directory) is first run to source
      # devops user/key details for evaluation licenses and for docker image/git tags
      - ${HOME}/.pingidentity/devops
    ports:
      - "2443:1443"
      - "9000:9000"
    networks:
      - pingnet-dmz
    volumes:
      - pingaccess-out:/opt/out
    #  - ${HOME}/projects/devops/pingidentity-server-profiles/baseline/pingaccess:/opt/in

  pingauthorize:
    image: ${PING_IDENTITY_DEVOPS_REGISTRY}/pingauthorize:${PING_IDENTITY_DEVOPS_TAG}
    command: wait-for pingdirectory:1389 -t 300 -- entrypoint.sh start-server
    environment:
      - SERVER_PROFILE_URL=https://github.com/pingidentity/pingidentity-server-profiles.git
      - SERVER_PROFILE_PATH=baseline/pingauthorize
    env_file:
      - ${HOME}/.pingidentity/devops
    ports:
      - "8080:80"
      - "7443:1443"
    networks:
      - pingnet-dmz
      - pingnet-internal
    volumes:
      - pingauthorize-out:/opt/out
    #  - ${HOME}/projects/devops/pingidentity-server-profiles/baseline/pingauthorize:/opt/in

  pingfederate:
    image: ${PING_IDENTITY_DEVOPS_REGISTRY}/pingfederate:${PING_IDENTITY_DEVOPS_TAG}
    command: wait-for pingdirectory:1389 -t 300 -- entrypoint.sh start-server
    environment:
      - SERVER_PROFILE_URL=https://github.com/pingidentity/pingidentity-server-profiles.git
      - SERVER_PROFILE_PATH=baseline/pingfederate
    env_file:
      - ${HOME}/.pingidentity/devops
    ports:
      - "9031:9031"
      - "9999:9999"
    networks:
      - pingnet-dmz
      - pingnet-internal
    volumes:
      - pingfederate-out:/opt/out
    #  - ${HOME}/projects/devops/pingidentity-server-profiles/baseline/pingfederate:/opt/in

  pingdirectory:
    image: ${PING_IDENTITY_DEVOPS_REGISTRY}/pingdirectory:${PING_IDENTITY_DEVOPS_TAG}
    environment:
      - SERVER_PROFILE_URL=https://github.com/pingidentity/pingidentity-server-profiles.git
      - SERVER_PROFILE_PATH=baseline/pingdirectory
    env_file:
      - ${HOME}/.pingidentity/devops
    ulimits:
      nproc:
        soft: 16384
        hard: 16384
      nofile:
        soft: 65535
        hard: 65535
    ports:
      - "1636:1636"
      - "1443:1443"
      - "1389:1389"
    networks:
      - pingnet-internal
    volumes:
      - pingdirectory-out:/opt/out
    #  - ${HOME}/projects/devops/pingidentity-server-profiles/baseline/pingdirectory:/opt/in

  pingdataconsole:
    image: ${PING_IDENTITY_DEVOPS_REGISTRY}/pingdataconsole:${PING_IDENTITY_DEVOPS_TAG}
    ports:
      - "8443:8443"
    networks:
      - pingnet-internal

  pingcentral:
    image: ${PING_IDENTITY_DEVOPS_REGISTRY}/pingcentral:${PING_IDENTITY_DEVOPS_TAG}
    environment:
      - SERVER_PROFILE_URL=https://github.com/pingidentity/pingidentity-server-profiles.git
      - SERVER_PROFILE_PATH=baseline/pingcentral/dev-unsecure
      - PING_CENTRAL_BLIND_TRUST=true
      - PING_CENTRAL_LOG_LEVEL=DEBUG
    env_file:
      - ${HOME}/.pingidentity/devops
    ports:
      - "9022:9022"
    networks:
      - pingnet-internal
    volumes:
      - pingcentral-out:/opt/out
    #  - ${HOME}/projects/devops/pingidentity-server-profiles/baseline/pingcentral:/opt/in

  pingdelegator:
    image: ${PING_IDENTITY_DEVOPS_REGISTRY}/pingdelegator:${PING_IDENTITY_DEVOPS_TAG}
    environment:
      - PD_ENGINE_PUBLIC_PORT=1443
      - SERVER_PROFILE_URL=https://github.com/pingidentity/pingidentity-server-profiles.git
      - SERVER_PROFILE_PATH=baseline/pingdelegator
    env_file:
      - ${HOME}/.pingidentity/devops
    ports:
      - "6443:6443"
    networks:
      - pingnet-dmz

networks:
    pingnet-internal:
    pingnet-dmz:

volumes:
  pingaccess-out:
  pingauthorize-out:
  pingfederate-out:
  pingdirectory-out:
  pingcentral-out:
